body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #3d323f;
    padding-top: 70px;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #900a9c;
    box-shadow: 0 0 5px rgba(207, 87, 87, 0.1);
  }
  .menu-item:hover {
    background-color: #ddd;
    transition: all 0.4s ease-in-out;
  }
  .menu-item {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: inline-block;
  }
  header {
    background-color: #F5F5DC;
    color: #e154ee;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  section {
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  h2	{
    color:#e154ee
  }
  #habilidades ul {
    list-style: none;
    padding: 0;
  }
  
  #habilidades ul li {
    display: inline-block;
    padding: 5px;
    border: 1px solid #e154ee;
    border-radius: 5px;
    margin-right: 10px;
  }
  #experiencia ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #experiencia ul li {
    margin-bottom: 10px;
  }
  #proyectos ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #proyectos ul li a {
    text-decoration: none;
    color: #333;
  }
  
  #proyectos ul li a:hover {
    text-decoration: underline;
  }
  body{
    background-color: #F5F5DC;
    padding-left: 100px;
    padding-right: 100px;
  }
  #sociales {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  #sociales li {
    list-style: none;
    display: inline-block;
    padding: 5px;
  }
  
  .fa {
    color: #333;
    text-decoration: none;
    margin-left: 0px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }